body {margin: 5px; padding: 0px}
table {
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse:collapse;
	background-color: white;
	font-size: 14px;
	width: 100%;
}
th {
	white-space: nowrap;
	text-align: center;
	background-color: black;
	color: white;
}
td {
	white-space: nowrap;
	text-align: right;
	width: 50px;
	padding-right: 3px;
}
td.c {
	text-align: center;
	background-color: #d0d0d0;
	color: blue;
}
td.d {
	padding:4px 0 ;
	text-align: center;
	background-color: #d0d0d0;
	color: black;
	font-size:12px;	
}
td.err {
	text-align: center;
	background-color: #e0e0ff;
	color: red;
}
